@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --readable-black: #333333;
  --readable-white: #D4D4D4;
}

html {
  font-family: "Libre Franklin", sans-serif;
  line-height: 1.375;
  color: var(--readable-black);
}

hr {
  border: 0;
  border-top: 1px solid var(--readable-black);
}

blockquote {
  font-size: 1.25em;
  font-style: italic;
  border-left: 4px solid var(--readable-black);
  padding-left: 15px;
  margin-left: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    background: black;
    color: var(--readable-white);
  }

  hr {
    border-top-color: white;
  }
}
